#emailModal {
  display: none;

  &.active {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    @include flex_row(center, center);

    & .emailModal__delete {
      width: 64px;
      height: 64px;
      background-size: cover;
      position: absolute;
      top: 8px;
      left: calc(100% - 8px);
      z-index: 1000;
      transform: translateX(-100%);
      cursor: pointer;

      & svg:hover,
      & svg:focus {
        animation: rotate 2s infinite linear;
      }
    }

    & .emailModal__content {
      @include skills_shadow_hover;
      padding: 5vw;
      @include flex_row(center, center);
      background-image: url("../graphics/textures/broken-noise.webp");
      background-color:rgb(85, 41, 124);
      border: 2px solid $intro-basic-color;
      color: white;

      & .successStyle {
        color: #6dfe25;
        border: 2px solid  #6dfe25;
        
      }

      & .failureStyle {
        color: red;
        border: 2px solid red;
        
      }

      &:hover {
        @include skills_shadow;
      }

      & .emailform {
        @include flex_column(space-evenly);
        @include skills_shadow_hover;
        align-items: center;
        background-image: linear-gradient(to right,rgb(255, 153, 153),#5A7AAC );
        border: 2px  solid $intro-basic-color ;
        border-radius: 2px;

        & label,
        input,
        textarea {
          width: 250px;
          margin: 10px 30px;
        }
        & label{color:#463158 ;}
        & textarea {
          min-height: 60px;
        }

        & .form__input {
          display: block;
          cursor: pointer;
          padding: 0 0 0 4px;
          font-size: 0.875rem;
          background-color: $c_grey;
          height: 35px;
          border: 2px solid $intro-basic-color;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s;

          &:focus {
            border-color: #463158;
            box-shadow: 0 0 5px -1px #463158;
          }
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 10px 0 20px 0;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  background: #5573A0;
  border-color: #5573A0;
  cursor: pointer;
  transition: color 0.1s linear 0.05s;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: 1;
    opacity: 0;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  }

  &::after {
    transition: border 0.1s linear 0.05s;
  }

  .btn-inner {
    position: relative;
    z-index: 2;
  }

  &:hover {
    color: #373737;
    transition: color 0.1s linear 0s;

    &::before {
      top: 0;
      height: 100%;
      opacity: 1;
      transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
    }

    &::after {
      border-color: #373737;
      transition: border 0.1s linear 0s;
    }
  }
}

.form__message {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 10px 30px 10px;
  height: 35px;
  min-width: 60%;
  
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.form__message-hidden{visibility:hidden;}