.gif {
  width: 180px;
  margin: 0 auto;
}

.gif.gif_intro {
  width: 100px;
  opacity: 0%;
  animation: girl-intro 0.3s ease-in-out 4s forwards;
}

.gif.gif_intro-blue {
  width: 100px;
  opacity: 0%;
  animation: girl-intro 0.3s ease-in-out 4s forwards;
  float: left;
}
