@media (max-width: 700px) {
  .ui-section {
    display: block;
    height: auto;
    overflow: visible;
    min-height: unset;
  }
  .ui-section > .ui-aside,
  .ui-section > .ui-content {
    width: 100%;
    height: auto;
    padding: 2rem;
  }
  .ui-section > .ui-content .project {
    height: 24.2vw;
  }
  .ui-section > .ui-aside:after,
  .ui-section > .ui-content:after {
    display: none;
  }
  .ui-section > .ui-aside {
    text-align: center;
  }
  .ui-section > .ui-aside #large-project-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
  }
  .ui-section > .ui-aside > * {
    align-self: initial;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .ui-section .ui-heading {
    font-size: 2rem;
    text-align: center;
  }
  .ui-section .ui-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .ui-section.-hero > .ui-content {
    text-align: center;
  }
  .ui-section.-hero > .ui-aside .ui-heading-inner {
    justify-content: center;
  }
  .ui-section .ui-content .desktop-hidden {
    display: block;
  }
  .ui-section .ui-content .desktop-visible {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
  .ui-section:nth-child(2) .ui-content .informacje_item {
    width: 100%;
  }
  .gif_intro {
    float: right;
  }
  .ui-content.skills ul {
    padding-left: 0;
  }
  .gif.gif_intro,
  .gif.gif_intro-blue {
    width: calc(50px + 50 * ((100vw - 320px) / 380));
  }
  .gif_intro-blue {
    margin-left: 20px;
  }
  .gif_intro {
    margin-right: 20px;
  }
  .ui-footer p {
    font-size: calc(20px + 16 * ((100vw - 508px) / 192));
  }
}

@media (min-width: 701px) {
  .ui-section .ui-content .desktop-hidden {
    display: none;
  }
  .ui-section .ui-content .desktop-visible {
    visibility: visible;
    padding-bottom: 1vh;
    line-height: 1.3;
  }
}

@media (max-width: 508px) {
  .hamburger {
    visibility: visible;
  }
  .ui-section > .ui-aside {
    padding: 0;
    justify-content: flex-start;
  }
  .ui-section > .ui-aside.filled {
    min-height: 180px;
  }
  .ui-content .ui-buttons {
    justify-content: center;
    display: none;
  }
  nav {
    display: none;
  }
  nav.active {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    left: 0;
    padding: 0 1vw 0 1vw;
    animation: nav-enter 1s ease-in-out 0s forwards;
    & .ui-button {
      margin: 4px 0;
      min-width: 90px;
    }
    & .former-content {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  .ui-section.-hero .ui-content {
    padding: 0;
  }
  .ui-content.skills ul li {
    width: 45%;
  }

  .ui-footer p {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .large-project__cover .project {
    width: calc(300px + 45 * ((100vw - 320px) / 95));
  }
}

.below_509_visible {
  display: none;
  @media (max-width: 508px) {
    display: block;
  }
}

@media (max-width: 1110px) {
  
  .skills.legend {
    width: 200px;
    position: relative;
    margin: 5% auto; 
  }
}

@media (max-width: 920px) {
  .webp .hero-background {
    background: white url("../graphics/textures/intro_small.webp") no-repeat center center fixed;
    background-size: cover;
  }
  .nowebp .hero-background {
    background: white url("../graphics/textures/intro-small.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .skills.legend.average,
  .skills.legend.starter,
  skills.legend.fair {
    left: 0;
    right: 0;
  }
}
