.project {
  width: 40%;
  position: relative;
  margin: 10px 0 10px 0;
  border-radius: 1%;
  overflow: hidden;
  height: 12.1vw;
  @include information_shadow;
  color: rgb(0, 59, 70);

  &.large {
    height: unset;
    animation: girl-intro 0.5s ease-in-out;
  }

  &:hover, &:focus {
    @include information_shadow;

    & .project__left-cover {
      transform: scaleX(0);
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
    }

    & .project__right-cover {
      transform: scaleX(0);
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
    }
    & .project__name{@include project-hover-focus}
  }

  &.pointer {
    cursor: pointer;
    margin: 2%;
  }

  & .initial {
    display: none !important;
  }

  &__left-cover {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 153, 153);
    color: inherit;
    transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
    transform-origin: left center;
    transform: scaleX(1);
  }

  &__right-cover {
    z-index: 500;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(152, 152, 254);
    transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
    transform-origin: right center;
    transform: scaleX(1);
    color: inherit;
  }
}

.project__image {
  background-size: cover;
  width: 100%;
  height: 100%;

  &.large {
    width: 345px;
    height:216px;
  }
}


.project__image-new{
  width:100%;
  height:100%;
  &.large {
    width: 345px;
    height: 237px;
  }
}

.webp .project__image.image-gbfinder {
  background-image: url("../graphics/project_images/gbfinder.webp");
}

.nowebp .project__image.image-gbfinder {
  background-image: url("../graphics/project_images/gbfinder.jpg");
}

.webp .project__image.image-fizjo {
  background-image: url("../graphics/project_images/fizjo.webp");
}

.nowebp .project__image.image-fizjo {
  background-image: url("../graphics/project_images/fizjo.jpg");
}

.webp .project__image.image-athletes {
  background-image: url("../graphics/project_images/athletes.webp");
}

.nowebp .project__image.image-athletes {
  background-image: url("../graphics/project_images/athletes.jpg");
}

.webp .project__image.image-cryptocurrency {
  background-image: url("../graphics/project_images/cryptocurrency.webp");
}

.nowebp .project__image.image-cryptocurrency {
  background-image: url("../graphics/project_images/cryptocurrency.jpg");
}

.webp .project__image.image-drzewo {
  background-image: url("../graphics/project_images/drzewo.webp");
}

.nowebp .project__image.image-drzewo {
  background-image: url("../graphics/project_images/drzewo.jpg");
}

.webp .project__image.image-jsbooks {
  background-image: url("../graphics/project_images/jsbooks.webp");
}

.nowebp .project__image.image-jsbooks {
  background-image: url("../graphics/project_images/jsbooks.jpg");
}

.webp .project__image.image-arch1 {
  background-image: url("../graphics/project_images/arch1.webp");
}

.nowebp .project__image.image-arch1 {
  background-image: url("../graphics/project_images/arch1.jpg");
}

.webp .project__image.image-arch2 {
  background-image: url("../graphics/project_images/arch2.webp");
}

.nowebp .project__image.image-arch2 {
  background-image: url("../graphics/project_images/arch2.jpg");
}

.webp .project__image.image-firebase {
  background-image: url("../graphics/project_images/firebase.webp");
}

.nowebp .project__image.image-firebase {
  background-image: url("../graphics/project_images/firebase.jpg");
}

.webp .project__image.image-pogodynka {
  background-image: url("../graphics/project_images/pogodynka.webp");
}

.nowebp .project__image.image-pogodynka {
  background-image: url("../graphics/project_images/pogodynka.jpg");
}

.webp .project__image.image-portfolio {
  background-image: url("../graphics/project_images/portfolio_aktualne.webp");
}

.nowebp .project__image.image-portfolio {
  background-image: url("../graphics/project_images/portfolio_aktualne.jpg");
}

.project__name {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:focus {
    @include project-hover-focus;
  }

  &.pointer {
    cursor: pointer;

    &:hover {
      @include project-hover-focus;
    }
  }
}

.large-project__cover {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .project {
    width: 345px;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

    // & .project__image {
    //   width: 100%;
    // }

    & .project__data {
      background: white;

      &.initial {
        display: none !important;
      }

      & .project__title {
        @include project-background();
        font-size: 24px;
        font-weight: 400;
        letter-spacing: normal;
        font-size: 1.5rem;
        color: black;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: bold;
        line-height: 1.334;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5%;
        padding-bottom: 5%;
      }

      & .project__description {
        @include project-background();
        color: rgba(0, 0, 0, 0.54);
      }

      & .project__skills {
        @include project-background();
        color: black;

        & span {
          padding: 0 1% 0 1%;
        }
      }

      & .project__links {
        background: #4285f4;
        letter-spacing: 0.07em;
        font-size: 1rem;
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;

        & a {
          cursor: pointer;
          color: white;
          text-decoration: none;
          padding: 3%;

          &:hover,
          &:focus {
            background: rgb(119, 165, 239);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}

.icon-delete {
  background-image: url("../graphics/icons/delete.png");
  width: 64px;
  height: 64px;
  background-size: cover;
  position: absolute;
  top: 8px;
  left: calc(100% - 8px);
  z-index: 1000;
  transform: translateX(-100%);
  cursor: pointer;

  &:focus,
  &:hover {
    
    background-color: rgba(129, 75, 75, 0.54);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  }
}

.project-icon-delete {

  position: absolute;
  top: calc(2px + 6 * ((100vw - 509px) / 700));
  left: calc(100% - calc(2px + 6 * ((100vw - 509px) / 700)));
  width: calc(30px + 10 * ((100vw - 509px) / 700));

  z-index: 1000;
  transform: translateX(-100%);
  cursor: pointer;

  & img:focus,
  & img:hover,
  & svg:focus,
  & svg:hover {
    animation: rotate 2s infinite linear;
  }
}