@-webkit-keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes heading-enter {
  from {
    -webkit-transform: translateX(calc(-100% + 0.5rem));
            transform: translateX(calc(-100% + 0.5rem));
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes heading-enter {
  from {
    -webkit-transform: translateX(calc(-100% + 0.5rem));
            transform: translateX(calc(-100% + 0.5rem));
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes heading-color {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heading-color {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes girl-intro {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes girl-intro {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes heading-span-enter {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes heading-span-enter {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes author-name {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes author-name {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heading-span-border {
  from {
    border-color: white;
  }
  50% {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

@keyframes heading-span-border {
  from {
    border-color: white;
  }
  50% {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

@-webkit-keyframes heading-word-enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heading-word-enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes bar-enter {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bar-enter {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes content-enter {
  from {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content-enter {
  from {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes header-minimize {
  0% {
    min-height: 100vh;
  }
  100% {
    min-height: 0;
  }
}

@keyframes header-minimize {
  0% {
    min-height: 100vh;
  }
  100% {
    min-height: 0;
  }
}

@-webkit-keyframes nav-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes nav-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/oxygen/oxygen-latin-bold.woff2") format("woff2"), url("../fonts/oxygen/oxygen-latin-bold.woff") format("woff"), url("../fonts/oxygen/oxygen-latin-bold.ttf") format("truetype"), url("../fonts/oxygen/oxygen-latin-bold.svg") format("svg");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Oxygen-Regular";
  src: url("../fonts/oxygen/oxygen-latin-regular.woff2") format("woff2"), url("../fonts/oxygen/oxygen-latin-regular.woff") format("woff"), url("../fonts/oxygen/oxygen-latin-regular.svg") format("svg");
  font-weight: 500;
  font-display: swap;
}

/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin-ext_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.gif {
  width: 180px;
  margin: 0 auto;
}

.gif.gif_intro {
  width: 100px;
  opacity: 0%;
  -webkit-animation: girl-intro 0.3s ease-in-out 4s forwards;
          animation: girl-intro 0.3s ease-in-out 4s forwards;
}

.gif.gif_intro-blue {
  width: 100px;
  opacity: 0%;
  -webkit-animation: girl-intro 0.3s ease-in-out 4s forwards;
          animation: girl-intro 0.3s ease-in-out 4s forwards;
  float: left;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.61, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.61, 0, 0.2, 1);
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1080));
  font-family: "Oxygen", sans-serif;
}

.visible {
  visibility: visible;
}

.ui-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  color: #54467a;
}

.webp .ui-section {
  background-image: url("../graphics/textures/broken-noise.webp");
}

.no-webp .ui-section {
  background-image: url("../graphics/textures/broken-noise.png");
}

.ui-section:nth-child(2) .ui-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui-section:nth-child(4) .ui-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ui-section-regular-informations {
  color: #ffaf44;
  background-color: #8083ff;
  visibility: hidden;
  -webkit-transition: margin-top 2s ease-in-out;
  transition: margin-top 2s ease-in-out;
}

.ui-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
  line-height: 1.5;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  font-family: "Oxygen-Regular", sans-serif;
}

.ui-content-reduced {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
  line-height: 1.5;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  font-family: "Oxygen-Regular", sans-serif;
}

.ui-section-regular-projects {
  color: #bab247;
  background-color: rgba(24, 12, 240, 0.5);
  visibility: hidden;
}

.ui-section-regular-skills {
  color: orange;
  background-color: rgba(0, 100, 255, 0.55);
  z-index: 1000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  visibility: hidden;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
}

.ui-section-regular-skills:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
}

.svg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.7;
}

.svg-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.svg-top-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}

.svg-border {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-regular__header {
  margin: 0;
  text-align: right;
  padding: 1rem 2rem;
  font-size: calc(16px + 32 * ((100vw - 320px) / 1080));
  text-shadow: 0.5px 0.5px black;
}

.shortest-information-desktop {
  visibility: visible;
  padding-bottom: 1vh;
  line-height: 1.3;
  color: white;
  font-weight: bold;
  letter-spacing: 0.75px;
  font-family: "Oxygen-Regular", sans-serif;
  z-index: 1;
  -webkit-animation: girl-intro 0.4s cubic-bezier(0.61, 0, 0.2, 1) both;
          animation: girl-intro 0.4s cubic-bezier(0.61, 0, 0.2, 1) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.ui-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
  z-index: 1000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
}

.ui-aside:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: inherit;
  width: 0.5rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(9.99%, transparent), color-stop(10%, currentColor), color-stop(90%, currentColor), color-stop(90.01%, transparent), to(transparent));
  background-image: linear-gradient(to top, transparent, transparent 9.99%, currentColor 10%, currentColor 90%, transparent 90.01%, transparent);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ui-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
  line-height: 1.5;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  font-family: "Oxygen-Regular", sans-serif;
}

.ui-content > * {
  z-index: 1;
}

.ui-heading {
  margin: 0;
  font-size: 3rem;
  text-align: right;
  padding: 1rem 2rem;
  font-size: calc(16px + 32 * ((100vw - 320px) / 1080));
}

.ui-screen {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

#emailModal {
  display: none;
}

#emailModal.active {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#emailModal.active .emailModal__delete {
  width: 40px;
  background-size: cover;
  position: absolute;
  top: 8px;
  left: calc(100% - 8px);
  top: calc(2px + 6 * ((100vw - 509px) / 700));
  left: calc(100% - calc(2px + 6 * ((100vw - 509px) / 700)));
  width: calc(30px + 10 * ((100vw - 509px) / 700));
  z-index: 1000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  cursor: pointer;
}

#emailModal.active .emailModal__delete img:hover,
#emailModal.active .emailModal__delete img:focus,
#emailModal.active .emailModal__delete svg:hover,
#emailModal.active .emailModal__delete svg:focus {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

#emailModal.active .emailModal__content {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../graphics/textures/broken-noise.webp");
  background-color: #55297c;
  border: 2px solid #FB6542;
  color: white;
  -webkit-animation: girl-intro 0.5s ease-in-out;
          animation: girl-intro 0.5s ease-in-out;
}

#emailModal.active .emailModal__content .successStyle {
  color: #6dfe25;
  border: 2px solid #6dfe25;
}

#emailModal.active .emailModal__content .failureStyle {
  color: red;
  border: 2px solid red;
}

#emailModal.active .emailModal__content:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
}

#emailModal.active .emailModal__content .emailform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9999), to(#5A7AAC));
  background-image: linear-gradient(to right, #ff9999, #5A7AAC);
  border: 2px solid #FB6542;
  border-radius: 2px;
}

@media only screen and (max-width: 508px) {
  #emailModal.active .emailModal__content .emailform {
    margin: 3vw;
  }
}

#emailModal.active .emailModal__content .emailform label,
#emailModal.active .emailModal__content .emailform input,
#emailModal.active .emailModal__content .emailform textarea {
  width: 250px;
  margin: 10px 30px;
}

@media only screen and (max-width: 508px) {
  #emailModal.active .emailModal__content .emailform label,
  #emailModal.active .emailModal__content .emailform input,
  #emailModal.active .emailModal__content .emailform textarea {
    width: calc(150px + 100 * ((100vw - 320px) / 190));
  }
}

#emailModal.active .emailModal__content .emailform label {
  color: #463158;
}

#emailModal.active .emailModal__content .emailform textarea {
  min-height: 60px;
}

#emailModal.active .emailModal__content .emailform .form__input {
  display: block;
  cursor: pointer;
  padding: 0 0 0 4px;
  font-size: 0.875rem;
  background-color: #f5f5f5;
  height: 35px;
  border: 2px solid #FB6542;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: border-color, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: border-color, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
}

#emailModal.active .emailModal__content .emailform .form__input:focus {
  border-color: #463158;
  -webkit-box-shadow: 0 0 5px -1px #463158;
          box-shadow: 0 0 5px -1px #463158;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 10px 0 20px 0;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  background: #5573A0;
  border-color: #5573A0;
  cursor: pointer;
  -webkit-transition: color 0.1s linear 0.05s;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  -webkit-transition: border 0.1s linear 0.05s;
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737;
  -webkit-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  -webkit-transition: border 0.1s linear 0s;
  transition: border 0.1s linear 0s;
}

.form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px 10px 30px 10px;
  height: 35px;
  min-width: 60%;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: border-color, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: border-color, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: border-color, box-shadow ease-in-out 0.2s, box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
}

.form__message-hidden {
  visibility: hidden;
}

.ui-buttons:hover ~ .ui-screen {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.ui-buttons:hover ~ * {
  color: #111;
}

.ui-button,
.ui-buttons:hover > .ui-button {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 700;
  padding: calc(4px + 10 * ((100vw - 320px) / 1080));
  font-size: calc(10px + 6 * ((100vw - 320px) / 1080));
  background: transparent;
  margin-left: 1rem;
  color: #FB6542;
  border: 1px solid #FB6542;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.ui-button:hover,
.ui-buttons:hover > .ui-button:hover,
.ui-button:focus,
.ui-buttons:hover > .ui-button:focus {
  color: #FB6542;
  outline: none;
}

.ui-button:hover:before,
.ui-buttons:hover > .ui-button:hover:before,
.ui-button:focus:before,
.ui-buttons:hover > .ui-button:focus:before {
  -webkit-transform: translateX(0) skewX(30deg);
          transform: translateX(0) skewX(30deg);
}

.ui-button:before,
.ui-buttons:hover > .ui-button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 2rem);
  height: 100%;
  -webkit-transform: scale(1.1) translateX(calc(-100% - 2rem)) skewX(30deg);
          transform: scale(1.1) translateX(calc(-100% - 2rem)) skewX(30deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  background: #54467a;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.61, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
  z-index: -1;
}

.anchor_link {
  color: #FB6542;
  text-decoration: none;
  background: transparent;
}

.hamburger {
  position: fixed;
  top: 1vw;
  right: 1vw;
  width: 50px;
  height: 50px;
  z-index: 2000;
  visibility: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger:hover, .hamburger:focus {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

.ui-section.-hero {
  color: #FB6542;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  will-change: transform;
  position: fixed;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  top: 0;
  left: 0;
  z-index: 2000;
  -webkit-transition: all 0.5s ease-in-out, min-height 3s ease-in-out 3s;
  transition: all 0.5s ease-in-out, min-height 3s ease-in-out 3s;
  min-height: 100vh;
}

.ui-section.-hero:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);
}

.ui-section.-hero.regular {
  min-height: 0;
}

.ui-section.-hero > .ui-aside:after {
  color: #FB6542;
  -webkit-animation: bar-enter 1s 1.9s cubic-bezier(0.61, 0, 0.2, 1) both;
          animation: bar-enter 1s 1.9s cubic-bezier(0.61, 0, 0.2, 1) both;
}

.ui-section.-hero nav {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  opacity: 0;
  -webkit-animation: nav-enter 1s ease-in-out 4s forwards;
          animation: nav-enter 1s ease-in-out 4s forwards;
}

@media (max-width: 508px) {
  .ui-section.-hero nav {
    -webkit-animation: nav-enter 1s ease-in-out 0s forwards;
            animation: nav-enter 1s ease-in-out 0s forwards;
    bottom: 0;
  }
}

.ui-section.-hero .ui-heading {
  overflow: hidden;
}

.ui-section.-hero .ui-heading__mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FB6542;
  will-change: transform;
  will-change: opacity;
  -webkit-animation: heading-enter 2s cubic-bezier(0.61, 0, 0.2, 1) 1s both, heading-color 2s ease-in-out 3s forwards;
          animation: heading-enter 2s cubic-bezier(0.61, 0, 0.2, 1) 1s both, heading-color 2s ease-in-out 3s forwards;
}

.ui-section.-hero .ui-heading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
}

.ui-section.-hero .ui-heading > .ui-heading-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 2rem 0 1rem;
  text-align: right;
  will-change: opacity;
  -webkit-animation: author-name 2s linear 2s both;
          animation: author-name 2s linear 2s both;
  overflow: hidden;
}

.ui-section.-hero > .ui-content {
  -webkit-animation: content-enter 1s 2s cubic-bezier(0.61, 0, 0.2, 1) both;
          animation: content-enter 1s 2s cubic-bezier(0.61, 0, 0.2, 1) both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ui-section.-hero .ui-button {
  color: #FB6542;
  border-color: #FB6542;
}

.ui-section.-hero .ui-button:hover {
  border-color: #31444f;
}

.intro__name {
  font-size: calc(16px + 32 * ((100vw - 320px) / 1080));
}

.intro__name::before {
  content: "\00a0";
}

.above_509_visible {
  -webkit-animation: girl-intro 0.4s cubic-bezier(0.61, 0, 0.2, 1) both;
          animation: girl-intro 0.4s cubic-bezier(0.61, 0, 0.2, 1) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #1A1B4A;
  text-align: center;
  border-width: 0 0 10px;
  border-bottom-style: solid;
  visibility: hidden;
  -o-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-image: linear-gradient(139deg, #e02aff, #0d70f1, #475eac, #4ac163) 3;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11);
}

.footer:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);
}

.footer__text {
  text-align: center;
  font-size: 36px;
  background: -webkit-linear-gradient(45deg, red, navy);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.webp .ui-footer {
  background-image: url("../graphics/textures/broken-noise.webp");
}

.no-webp .ui-footer {
  background-image: url("../graphics/textures/broken-noise.png");
}

.ui-content.skills {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2vw;
  padding-bottom: 2vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill {
  width: 200px;
  height: 200px;
  margin: 5px 5px;
  background-color: lightgray;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.skill__image {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skill__name {
  padding: 2%;
  font-size: 1rem;
  color: lightgray;
  text-align: center;
}

.skill__svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.skill__header {
  position: relative;
  height: 40%;
}

.skill__header-average {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#028f05), to(#034902));
  background-image: linear-gradient(#028f05, #034902);
}

.skill__header-starter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d20106), to(#950002));
  background-image: linear-gradient(#d20106, #950002);
}

.skill__header-fair {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0193f3), to(#0158c3));
  background-image: linear-gradient(#0193f3, #0158c3);
}

.skill__header-good {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0193f3), to(#0158c3));
  background-image: linear-gradient(#0193f3, #0158c3);
}

.legends-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vw 2rem 0 1rem;
}

.author-foto {
  width: 30px;
  height: 42px;
  margin: 1vh 0 1vh 0;
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.webp .author-foto {
  background-image: url("../graphics/author/foto2.webp");
}

.no-webp .author-foto {
  background-image: url("../graphics/author/foto2.png");
}

.project {
  width: 40%;
  position: relative;
  margin: 10px 0 10px 0;
  border-radius: 1%;
  overflow: hidden;
  height: 12.1vw;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  color: #003b46;
}

.project.large {
  height: unset;
  -webkit-animation: girl-intro 0.5s ease-in-out;
          animation: girl-intro 0.5s ease-in-out;
}

.project:hover, .project:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.project:hover .project__left-cover, .project:focus .project__left-cover {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.project:hover .project__right-cover, .project:focus .project__right-cover {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.project:hover .project__name, .project:focus .project__name {
  color: transparent;
}

.project.pointer {
  cursor: pointer;
  margin: 2%;
}

.project .initial {
  display: none !important;
}

.project__left-cover {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ff9999;
  color: inherit;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.project__right-cover {
  z-index: 500;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #9898fe;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.2, 1);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  color: inherit;
}

.project__image {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.project__image.large {
  width: 345px;
  height: 216px;
}

.project__image-new {
  width: 100%;
  height: 100%;
}

.project__image-new.large {
  width: 345px;
  height: 237px;
}

.webp .project__image.image-gbfinder {
  background-image: url("../graphics/project_images/gbfinder.webp");
}

.nowebp .project__image.image-gbfinder {
  background-image: url("../graphics/project_images/gbfinder.jpg");
}

.webp .project__image.image-fizjo {
  background-image: url("../graphics/project_images/fizjo.webp");
}

.nowebp .project__image.image-fizjo {
  background-image: url("../graphics/project_images/fizjo.jpg");
}

.webp .project__image.image-athletes {
  background-image: url("../graphics/project_images/athletes.webp");
}

.nowebp .project__image.image-athletes {
  background-image: url("../graphics/project_images/athletes.jpg");
}

.webp .project__image.image-cryptocurrency {
  background-image: url("../graphics/project_images/cryptocurrency.webp");
}

.nowebp .project__image.image-cryptocurrency {
  background-image: url("../graphics/project_images/cryptocurrency.jpg");
}

.webp .project__image.image-drzewo {
  background-image: url("../graphics/project_images/drzewo.webp");
}

.nowebp .project__image.image-drzewo {
  background-image: url("../graphics/project_images/drzewo.jpg");
}

.webp .project__image.image-jsbooks {
  background-image: url("../graphics/project_images/jsbooks.webp");
}

.nowebp .project__image.image-jsbooks {
  background-image: url("../graphics/project_images/jsbooks.jpg");
}

.webp .project__image.image-arch1 {
  background-image: url("../graphics/project_images/arch1.webp");
}

.nowebp .project__image.image-arch1 {
  background-image: url("../graphics/project_images/arch1.jpg");
}

.webp .project__image.image-arch2 {
  background-image: url("../graphics/project_images/arch2.webp");
}

.nowebp .project__image.image-arch2 {
  background-image: url("../graphics/project_images/arch2.jpg");
}

.webp .project__image.image-firebase {
  background-image: url("../graphics/project_images/firebase.webp");
}

.nowebp .project__image.image-firebase {
  background-image: url("../graphics/project_images/firebase.jpg");
}

.webp .project__image.image-pogodynka {
  background-image: url("../graphics/project_images/pogodynka.webp");
}

.nowebp .project__image.image-pogodynka {
  background-image: url("../graphics/project_images/pogodynka.jpg");
}

.webp .project__image.image-portfolio {
  background-image: url("../graphics/project_images/portfolio_aktualne.webp");
}

.nowebp .project__image.image-portfolio {
  background-image: url("../graphics/project_images/portfolio_aktualne.jpg");
}

.project__name {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project__name:focus {
  color: transparent;
}

.project__name.pointer {
  cursor: pointer;
}

.project__name.pointer:hover {
  color: transparent;
}

.large-project__cover {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large-project__cover .project {
  width: 345px;
  display: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.large-project__cover .project .project__data {
  background: white;
}

.large-project__cover .project .project__data.initial {
  display: none !important;
}

.large-project__cover .project .project__data .project__title {
  padding: 2% 5% 2% 5%;
  font-size: 0.875rem;
  font-family: Roboto, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 1.5rem;
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.334;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.large-project__cover .project .project__data .project__description {
  padding: 2% 5% 2% 5%;
  font-size: 0.875rem;
  font-family: Roboto, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.54);
}

.large-project__cover .project .project__data .project__skills {
  padding: 2% 5% 2% 5%;
  font-size: 0.875rem;
  font-family: Roboto, "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: black;
}

.large-project__cover .project .project__data .project__skills span {
  padding: 0 1% 0 1%;
}

.large-project__cover .project .project__data .project__links {
  background: #4285f4;
  letter-spacing: 0.07em;
  font-size: 1rem;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}

.large-project__cover .project .project__data .project__links a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 3%;
}

.large-project__cover .project .project__data .project__links a:hover, .large-project__cover .project .project__data .project__links a:focus {
  background: #77a5ef;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.icon-delete {
  background-image: url("../graphics/icons/delete.png");
  width: 64px;
  height: 64px;
  background-size: cover;
  position: absolute;
  top: 8px;
  left: calc(100% - 8px);
  z-index: 1000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  cursor: pointer;
}

.icon-delete:focus, .icon-delete:hover {
  background-color: rgba(129, 75, 75, 0.54);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.project-icon-delete {
  position: absolute;
  top: calc(2px + 6 * ((100vw - 509px) / 700));
  left: calc(100% - calc(2px + 6 * ((100vw - 509px) / 700)));
  width: calc(30px + 10 * ((100vw - 509px) / 700));
  z-index: 1000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  cursor: pointer;
}

.project-icon-delete img:focus,
.project-icon-delete img:hover,
.project-icon-delete svg:focus,
.project-icon-delete svg:hover {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

@media (max-width: 700px) {
  .ui-section {
    display: block;
    height: auto;
    overflow: visible;
    min-height: unset;
  }
  .ui-section > .ui-aside,
  .ui-section > .ui-content {
    width: 100%;
    height: auto;
    padding: 2rem;
  }
  .ui-section > .ui-content .project {
    height: 24.2vw;
  }
  .ui-section > .ui-aside:after,
  .ui-section > .ui-content:after {
    display: none;
  }
  .ui-section > .ui-aside {
    text-align: center;
  }
  .ui-section > .ui-aside #large-project-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateY(100%) translateX(-50%);
            transform: translateY(100%) translateX(-50%);
  }
  .ui-section > .ui-aside > * {
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .ui-section .ui-heading {
    font-size: 3rem;
    text-align: center;
  }
  .section-regular__header {
    font-size: 2rem;
    text-align: center;
  }
  .ui-section .ui-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .ui-section.-hero > .ui-content {
    text-align: center;
  }
  .ui-section.-hero > .ui-aside .ui-heading-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ui-section .ui-content .desktop-hidden {
    display: block;
  }
  .ui-section .ui-content .desktop-visible {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
  .shortest-information-desktop {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
  .gif_intro {
    float: right;
  }
  .gif.gif_intro,
  .gif.gif_intro-blue {
    width: calc(50px + 50 * ((100vw - 320px) / 380));
  }
  .gif_intro-blue {
    margin-left: 20px;
  }
  .gif_intro {
    margin-right: 20px;
  }
  .footer__text {
    font-size: calc(20px + 16 * ((100vw - 508px) / 192));
  }
  .legends-container {
    display: none;
  }
  .intro__name {
    font-size: 3rem;
  }
}

@media (min-width: 701px) {
  .ui-section .ui-content .desktop-hidden {
    display: none;
  }
  .ui-section .ui-content .desktop-visible {
    visibility: visible;
    padding-bottom: 1vh;
    line-height: 1.3;
  }
  .legends-container-mobile {
    display: none;
  }
}

@media (max-width: 508px) {
  .intro__name {
    font-size: 2rem;
  }
  .hamburger {
    visibility: visible;
  }
  .ui-section > .ui-aside {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .ui-section > .ui-aside.filled {
    min-height: 180px;
  }
  .ui-content .ui-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  nav {
    display: none;
  }
  nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
    padding: 0 1vw 0 1vw;
  }
  nav.active .ui-button {
    margin: 4px 0;
    min-width: 90px;
  }
  nav.active .former-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ui-section.-hero .ui-content {
    padding: 0;
  }
  .ui-content.skills ul li {
    width: 45%;
  }
  .footer__text {
    font-size: 20px;
  }
  .skill__name {
    font-size: 1.5rem;
  }
}

@media (max-width: 415px) {
  .large-project__cover .project {
    width: calc(300px + 45 * ((100vw - 320px) / 95));
  }
}

.below_509_visible {
  display: none;
}

@media (max-width: 508px) {
  .below_509_visible {
    display: block;
  }
}

.information-item {
  position: relative;
  margin: 0.5em auto;
  padding: 1em;
  width: 100%;
  margin: 5% 0 5% 0;
  font-size: 14px;
  background: #629bdd;
  z-index: 1000;
  border-radius: 0.25em;
  color: #003b46;
}

.information-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
          transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
  background: #1304;
  z-index: -200;
}

.information-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transform: rotate(-2deg) translate(0.35em, -0.15em) scale(1.04);
          transform: rotate(-2deg) translate(0.35em, -0.15em) scale(1.04);
  background: transparent;
  border: 1px solid red;
  z-index: 200;
}

.information-item__text {
  padding-bottom: 0.5em;
}

.information-item__text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transform: rotate(1deg) translate(0.35em, -0.15em) scale(1.04);
          transform: rotate(1deg) translate(0.35em, -0.15em) scale(1.04);
  background: pink;
  z-index: -200;
}

.information-item__text:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transform: rotate(2deg) translate(0.35em, 0.2em) scaleX(1.1) scaleY(1.3);
          transform: rotate(2deg) translate(0.35em, 0.2em) scaleX(1.1) scaleY(1.3);
  background: transparent;
  border: 1px solid violet;
}

.information-item-legend {
  margin: 2rem auto;
}

.information-item-legend.average {
  color: #027204;
}

.information-item-legend.fair {
  color: #0177dc;
}

.information-item-legend.starter {
  color: red;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 2000;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 508px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu--visible {
  pointer-events: auto;
}

.app-mobile-menu {
  background: rgba(251, 101, 66, 0.3);
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-103%);
          transform: translateX(-103%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
}

.mobile-menu--visible .app-mobile-menu {
  -webkit-transform: none;
          transform: none;
}

.mobile-menu--animatable .app-mobile-menu {
  -webkit-transition: all 130ms ease-out;
  transition: all 130ms ease-out;
}

.mobile-menu--visible.mobile-menu--animatable .app-mobile-menu {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
}

.mobile-menu-icon {
  content: "Menu";
  color: #fff;
  background-color: #666;
  width: 40px;
  height: 40px;
}

.mobile-menu-button {
  padding: 1rem;
  font-size: 14px;
  width: 140px;
  margin: 0 auto;
  background: #54467a;
}
/*# sourceMappingURL=style.css.map */