.ui-content.skills ul{
  height:100%; 
  display: flex; 
  flex-direction:row; 
  justify-content: space-between; 
  flex-wrap:wrap;
  & li{
    width: 40%;
    padding: 3px 0;
    marker:none;
    list-style-type: none;
    display: flex;
    align-items:center;

    & .star {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin: 1px;
      position: relative;
      &:after{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        content: "";
        top: 3px;
        left: -5px;
      }
      &.star-golden{
        border-bottom: 10px solid orange;
        &:after{border-top: 10px solid orange;}
      }
      &.star-grey{
        border-bottom: 10px solid #343838;
        &:after{border-top: 10px solid #343838;}
      }
    }
  }
  & li :first-child{
    margin-right:10px; 
    flex-shrink: 0;}
  & li span{
    padding-left:10px; 
    font-weight: bold;
    text-shadow: 0.5px 0.5px black;
  }
}

.bg-bootstrap {
  width: 50px; height: 42px;
  background: url('../graphics/skills/css_sprites.png') -80px -220px;
}

.bg-css {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -10px -10px;
}

.bg-html {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -80px -10px;
}

.bg-jquery {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -10px -80px;
}

.bg-js {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -80px -80px;
}

.bg-linux {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -150px -10px;
}

.bg-material {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -150px -80px;
}

.bg-sql {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -10px -150px;
}

.bg-php {
  width: 50px; height: 27px;
  background: url('../graphics/skills/css_sprites.png') -150px -220px;
}

.bg-pug {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -80px -150px;
}

.bg-react {
  width: 50px; height: 45px;
  background: url('../graphics/skills/css_sprites.png') -220px -150px;
}

.bg-redux {
  width: 50px; height: 45px;
  background: url('../graphics/skills/css_sprites.png') -10px -220px;
}
.bg-router {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -150px -150px;
}
.bg-sass {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -220px -10px;
}

.bg-styled {
  width: 50px; height: 50px;
  background: url('../graphics/skills/css_sprites.png') -220px -80px;
}


.gif{width: 180px; margin: 0 auto;}
.gif.gif_intro{width:100px; opacity:0%; animation: girl-intro 0.3s ease-in-out 4s forwards;}
.gif.gif_intro-blue{width:100px; opacity:0%; animation: girl-intro 0.3s ease-in-out 4s forwards; float:left;}
.gif.gif_boys{width:180px;}

