.author-foto {
  width: 30px;
  height: 42px;
  margin: 1vh 0 1vh 0;
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.webp .author-foto {
  background-image: url("../graphics/author/foto2.webp");
}
.no-webp .author-foto {
  background-image: url("../graphics/author/foto2.png");
}
