.ui-footer {
  
  width: 100%;
  padding: 1rem;
  background-color:#1A1B4A;
  text-align: center;
  border-width: 0 0 10px;
  border-bottom-style: solid;
  -o-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-image: linear-gradient(139deg, #e02aff, #0d70f1, #475eac, #4ac163) 3;
  @include skills_shadow;
  &:hover {
    @include skills_shadow_hover;
  }
  & p {
    text-align: center;
    font-size: 36px;
    
    background: -webkit-linear-gradient(45deg, red, navy);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.webp .ui-footer {
  background-image: url("../graphics/textures/broken-noise.webp");
}
.no-webp .ui-footer {
  background-image: url("../graphics/textures/broken-noise.png");
}
