
.ui-footer {
    @include section(white,rgba(255,255,2,0.35));
    width: 100%;
    padding: 1rem;
    text-align: center;
    @include skills_shadow;
  &:hover{ @include skills_shadow_hover;}
  & p{
        text-align: center;
        font-size:36px;
        @media( max-width: 520px){font-size: 20px;}
        background: -webkit-linear-gradient(45deg,red, navy);
        -webkit-background-clip: text;
        background-clip:text;
        -webkit-text-fill-color: transparent;
      }
}

.webp .ui-footer{background-image:  url("../graphics/textures/broken-noise.webp");}
.no-webp .ui-footer{background-image: url("../graphics/textures/broken-noise.png");}