@mixin project-background {
    padding: 2% 5% 2% 5%;
    font-size: 0.875rem;
    font-family: Roboto, "Helvetica",  sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    &:hover{background:#F6F6F6;}  
}
  
.project{
  width:40%;
  position:relative;
  margin: 10px 0 10px 0;
  border-radius: 1%;
  overflow:hidden;
  height: 12.1vw;
  &.large {height:unset;}
  &:hover{box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.15), 0 0px 4px rgba(0, 0, 0, 0.15), 0 0px 8px rgba(0, 0, 0, 0.15), 0 0px 12px rgba(0, 0, 0, 0.15),0 0px 16px rgba(0, 0, 0, 0.15) ;}
  &.pointer{
    cursor: pointer;
    margin:2%;
    
  }
  & .initial{display:none !important;}
  
}
.project__image {

  background-size: cover;
  width:100%;
  height:100%;

  &.image__fizjo{ background-image: url("../project_images/fizjo.jpg");}
  &.image__jsbooks{ background-image: url("../project_images/jsbooks.jpg");}
  &.image__firebase{ background-image: url("../project_images/Firebase.jpg");}
  &.image__cryptocurrency{ background-image: url("../project_images/cryptocurrency.jpg");}
  &.image__gbfinder{ background-image: url("../project_images/gbfinderx.jpg");}
  &.image__pogodynka{ background-image: url("../project_images/pogodynka.jpg");}
  &.image__arch1{ background-image: url("../project_images/archiwalne_1.jpg");}
  &.image__arch2{ background-image: url("../project_images/archiwalne_2.jpg");}
  &.image__drzewo{ background-image: url("../project_images/drzewo.jpg");}
  &.image__athletes{ background-image: url("../project_images/aathletes.jpg");}
  &.large{
    width:345px; 
    height:237px;
  }
}

.project__name{
  z-index: 1000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:inherit;
  background-color:rgba(255, 255, 255, 0.6);
  display:flex;
  justify-content: center;
  align-items: center;
  &.pointer{cursor: pointer;
      &:hover{
        background-color: rgba(0,0,0,0.30);
        color:white;
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.15), 0 0px 4px rgba(0, 0, 0, 0.15), 0 0px 8px rgba(0, 0, 0, 0.15), 0 0px 12px rgba(0, 0, 0, 0.15),0 0px 16px rgba(0, 0, 0, 0.15) ;}
    }
}

.large-project__cover{
  z-index: 1000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  & .project{
    width:345px;
    display:none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

    & .project__image{
      width: 100%; 
    }
    & .project__data{ 
      background:white;
      &.initial{display:none !important;}
     
      & .project__title{
        @include project-background();
        font-size:24px;
        font-weight: 400;
        letter-spacing: normal;
        font-size: 1.5rem;
        color:black;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.334;
        margin-top: 0;
        margin-bottom:0;
        padding-top:5%;
        padding-bottom:5%;
        
      }
      & .project__description{
        @include project-background();
        color: rgba(0, 0, 0, 0.54);
        
      }
      & .project__skills{ 
        @include project-background();
        color:black;
        & span{padding: 0 1% 0 1%;}
      }
      & .project__links{
        background:#4285F4;
        letter-spacing:0.07em;
        font-size:1rem;
        font-weight: bolder;
        display:flex;
        justify-content: space-around;
        padding-top:5%;
        padding-bottom:5%;
        & a{
          cursor: pointer; 
          color:white; 
          text-decoration:none; 
          padding: 3%;
          &:hover{background:rgb(119, 165, 239);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);}
        } 
      }
    } 
  }
}

.icon-delete{
  background-image: url('../graphics/icons/delete.png');
  width:64px;
  height:64px;
  background-size:cover;
  position:absolute;
  top:0;
  left:100%;
  transform: translateX(-100%);
  cursor:pointer;
}


// .archiwalne_1, .archiwalne_2, .athletes, .Crypto Currency, .drzewo, .Firebase, .fizjo, .Google_Books_Finder, .JS_Books, .pogodynka, .unamo 
// {display:inline-block; overflow:hidden; background-repeat: no-repeat;
// background-image:url('./canvas.png');}

// .archiwalne_1 {width: 345px; height: 216px; background-position: 20.4932% 0.247525%; background-size: 593.623%; }
// .archiwalne_2 {width: 345px; height: 214px; background-position: 0.117440% 54.3210%; background-size: 593.623%; }
// .athletes {width: 345px; height: 218px; background-position: 0.117440% 0.248139%; background-size: 593.623%; }
// .CryptoCurrency {width: 345px; height: 216px; background-position: 40.8691% 0.247525%; background-size: 593.623%; }
// .drzewo {width: 345px; height: 216px; background-position: 61.2449% 0.247525%; background-size: 593.623%; }
// .Firebase {width: 345px; height: 216px; background-position: 81.6207% 0.247525%; background-size: 593.623%; }
// .fizjo {width: 345px; height: 216px; background-position: 0.117440% 27.4752%; background-size: 593.623%; }
// .Google_Books_Finder {width: 345px; height: 216px; background-position: 20.4932% 27.4752%; background-size: 593.623%; }
// .JS_Books {width: 345px; height: 216px; background-position: 40.8691% 27.4752%; background-size: 593.623%; }
// .pogodynka {width: 345px; height: 216px; background-position: 61.2449% 27.4752%; background-size: 593.623%; }
// .unamo {width: 345px; height: 216px; background-position: 81.6207% 27.4752%; background-size: 593.623%; }

