*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s cubic-bezier(0.61, 0, 0.2, 1); }
  $breakMobile: 776px;
  $breakSmallMobile: 422px;

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(12px + 6px * ((100vw - 320px) / 1080)) ;
  font-family: 'Oxygen', sans-serif;

}
@import 'transitions';
@import 'loader';

.ui-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height:100vh;
  color: #31444F; }
  .ui-section > * {
    flex: 1 1 50%;
    width: 50%;
  }
  .ui-section .ui-heading {text-shadow: 0.5px 0.5px black;}
  .fancy-shadow{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11), 0 0 16px 16px rgba(0, 0, 0, 0.11), 0 0 32px 32px rgba(0, 0, 0, 0.11); 
  }
  .fancy-shadow:hover{box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 0 2px 2px rgba(0, 0, 0, 0.11), 0 0 4px 4px rgba(0, 0, 0, 0.11), 0 0 8px 8px rgba(0, 0, 0, 0.11);}
  .ui-section.-hero {
    background-color:white;
    background-image: url("../graphics/textures/broken-noise.png");
    color: red;
    position:fixed;
    transform:translateZ(0);
    top:0;
    left:0;
    z-index:2000;
    transition: all 0.5s ease-in-out, min-height 3s ease-in-out 3s;
    min-height:100vh;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11); 
  
    &.regular{min-height:0;}
  }
  
    .ui-section.-hero:hover{
      
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);
    }
    .ui-section.-hero > .ui-aside:after {
      color: #A5966C;
      color: red;
      animation: bar-enter 1s 1.9s cubic-bezier(0.61, 0, 0.2, 1) both; }
    .ui-section.-hero .ui-heading {
      overflow: hidden;
      background-color:red;
      animation: heading-enter 2s cubic-bezier(0.61, 0, 0.2, 1) 1s both, heading-color 2s ease-in-out 3s forwards; }
      .ui-section.-hero .ui-heading:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0.5rem;
        height: 100%;
        animation: blink 1s step-start both; }

      .ui-section.-hero .ui-heading > .ui-heading-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid white;
        padding: 0 2rem 0 1rem;
        text-align: right;
        animation: heading-span-enter 1s 1s cubic-bezier(0.61, 0, 0.2, 1) both, heading-span-border 2s 1s cubic-bezier(0.61, 0, 0.2, 1) both;
        overflow: hidden; }
        .ui-section.-hero .ui-heading > .ui-heading-inner > span {display: inline-block; }
          .ui-section.-hero .ui-heading > .ui-heading-inner > span:nth-child(1) {
            animation: heading-word-enter 0.6s 1s cubic-bezier(0.61, 0, 0.2, 1) both; }
          .ui-section.-hero .ui-heading > .ui-heading-inner > span:nth-child(2) {
            animation: heading-word-enter 0.6s 1.2s cubic-bezier(0.61, 0, 0.2, 1) both; }
          .ui-section.-hero .ui-heading > .ui-heading-inner > span:nth-child(3) {
            animation: heading-word-enter 0.6s 1.4s cubic-bezier(0.61, 0, 0.2, 1) both; }
          .ui-section.-hero .ui-heading > .ui-heading-inner > span:before {
            content: '\00a0'; }
            
.ui-section.-hero > .ui-content {
  animation: content-enter 1s 2s cubic-bezier(0.61, 0, 0.2, 1) both;
  flex-direction: column-reverse;
  color:white; font-weight:bold; }
        
.ui-section.-hero .ui-button {
  color: red;
  border-color:red; }
.ui-section.-hero .ui-button:hover {
  border-color: #31444F; }

.ui-section:nth-child(2) {
  color:#003B46;
  background-color: rgba(0,255,0,0.15);
  background-image: url("../graphics/textures/broken-noise.png");
  margin-top:0;
  transition: margin-top 2s ease-in-out;
  & .ui-content{display: flex;flex-direction:column;justify-content: space-between;}
}
.ui-section.-hero nav{
  position:absolute;
  bottom: 1vw;
  left: 1vw;
  opacity: 0;
  animation: nav-enter 1s ease-in-out 4s forwards;
}
.ui-section:nth-child(3) {
  color: orange;
  z-index:1000;
  transition: all 0.5s ease-in-out;
  background-color: rgba(247,202,24,0.25);
  background-image: url("../graphics/textures/broken-noise.png");
  position:relative;
 
}

.ui-section:nth-child(4) {
  color:#0159B1;
  background-color: rgba(247,202,247,0.25);
  background-image: url("../graphics/textures/broken-noise.png");
  & .ui-content{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
  }
}
 
.informacje_item {
  padding:10px;
  margin: 5% 0 5% 0;
  font-size: 14px;
  color:white;
  width:95%;
  background: rgba(0,58,69, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}


  @media (max-width: 700px) {
    .ui-section {
      display: block;
      height: auto;
      overflow: visible; }
      .ui-section > .ui-aside,
      .ui-section > .ui-content {
        width: 100%;
        height: auto;
        padding: 1rem; }
        .ui-section > .ui-content .project{
          height:24.2vw;}
        .ui-section > .ui-aside:after,
        .ui-section > .ui-content:after {
          display: none; }
      .ui-section > .ui-aside {
        text-align: center; }
      .ui-section > .ui-aside #large-project-content{
        display:none;
        position: absolute; 
        bottom:0; 
        left:50%; 
        transform: translateY(100%) translateX(-50%);}
      .ui-section > .ui-aside > * {
        align-self: initial;
        padding-left: 0;
        padding-right: 0;
        text-align: center; }
      .ui-section .ui-heading {
        font-size: 2rem;
        text-align: center; }
      .ui-section .ui-buttons {
        width: 100%;
        display: flex;
        justify-content: end;
      
      }

      .ui-section.-hero > .ui-content {
        text-align: center; }
      .ui-section.-hero > .ui-aside .ui-heading-inner{justify-content:center;}
      .ui-section .ui-content .desktop-hidden{
        display:block;} 
      .ui-section .ui-content .desktop-visible{
        visibility: hidden;
        height:0;
        margin:0;
      }
      .informacje_item{width: 100%;}
      .gif_intro{float:right;}
  }
@media (min-width: 700px) {
  .ui-section .ui-content .desktop-hidden{
    display:none;}
  .ui-section .ui-content .desktop-visible{
    visibility:visible; }
  }

@media (max-width: 509px){
  .ui-content .ui-buttons{
    justify-content:center;
  }
  .ui-section.-hero nav{
    display:flex;
    width:100%;
    justify-content:center;
  }
}

.ui-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0; }
  .ui-aside:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: inherit;
    width: 0.5rem;
    background-image: linear-gradient(to top, transparent, transparent 9.99%, currentColor 10%, currentColor 90%, transparent 90.01%, transparent);
    background-attachment: fixed;
    background-repeat: no-repeat; }
  .ui-aside > ul {
    margin: 0;
    text-align: right;
    list-style-type: none;
    padding-right: 2rem; }
  .ui-aside li {
    line-height: 1.5; }

.ui-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 2rem;
  font-weight:bold;
}
  .ui-content > * {
    z-index: 1; }

.ui-heading {
  margin: 0;
  font-size: 3rem;
  text-align: right;
  padding: 1rem 2rem; 
  font-size: calc(16px + 32 * ((100vw - 320px) / 1080)) ;
}

.ui-screen {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: left center; }
  .ui-buttons:hover ~ .ui-screen {
    transform: scaleX(1); }

.ui-buttons:hover ~ * {
  color: #111; }

.ui-button, .ui-buttons:hover > .ui-button {
  display: inline-block;
  appearance: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 700;
  padding:calc(6px + 8 * ((100vw - 320px) / 1080)) ;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1080)) ;
  background: transparent;
  color: #31444F;
  border: 1px solid #31444F;
  overflow: hidden;
  outline: none; }
  .ui-button + .ui-button, .ui-buttons:hover > .ui-button + .ui-button {
    margin-left: 1rem; }
  .ui-button:hover, .ui-buttons:hover > .ui-button:hover, .ui-button:focus, .ui-buttons:hover > .ui-button:focus {
    color:red;
    outline: none; }
    .ui-button:hover:before, .ui-buttons:hover > .ui-button:hover:before, .ui-button:focus:before, .ui-buttons:hover > .ui-button:focus:before {
      transform: translateX(0) skewX(30deg); }
  .ui-button:before, .ui-buttons:hover > .ui-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2rem);
    height: 100%;
    transform: scale(1.1) translateX(calc(-100% - 2rem)) skewX(30deg);
    transform-origin: left bottom;
    background: #31444F;
    transition: transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
    z-index: -1; }

@import 'footer';

@import 'skills';
@mixin above-mobile {
  @media (min-width: $breakMobile) {
      @content;
  }
}

@import 'author';
@import 'projects';
