@import 'mixins&variables';
@import 'transitions';

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s cubic-bezier(0.61, 0, 0.2, 1); }

body, html {
  @include full_size;
  margin: 0;
  padding: 0;
  font-size: calc(12px + 6px * ((100vw - 320px) / 1080)) ;
  font-family: 'Oxygen', sans-serif;

}


.ui-section {
  @include flex_row(center, stretch);
  min-height:100vh;
  color: #31444F;
  & .ui-heading {text-shadow: 0.5px 0.5px black;}
  &> * {
    flex: 1 1 50%;
    width: 50%;
  }
}

.webp .ui-section{background-image:  url("../graphics/textures/broken-noise.webp");}
.no-webp .ui-section{background-image: url("../graphics/textures/broken-noise.png");}

@import 'hero';


.ui-section:nth-child(2) {
  @include section(#003B46,rgba(0,255,0,0.15));
  margin-top:0;
  transition: margin-top 2s ease-in-out;
  & .ui-content{
    @include flex_column(space-between);
    & .informacje_item{
      padding:10px;
      margin: 5% 0 5% 0;
      font-size: 14px;
      color:white;
      width:95%;
      background: rgba(0,58,69, 0.7);
      @include information_shadow;
    }
  }
}

.ui-section:nth-child(3) {
  @include section(orange, rgba(247,202,24,0.25));
  z-index:1000;
  transition: all 0.5s ease-in-out;
  position:relative; 
  @include skills_shadow;
  &:hover{ @include skills_shadow_hover;}

}

.ui-section:nth-child(4) { 
  @include section(#0159B1, rgba(247,202,247,0.25));
  & .ui-content{
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

//@import 'mediaqueries';

.ui-aside {
  @include flex_column(center);
  padding-right: 0; }
  .ui-aside:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: inherit;
    width: 0.5rem;
    background-image: linear-gradient(to top, transparent, transparent 9.99%, currentColor 10%, currentColor 90%, transparent 90.01%, transparent);
    background-attachment: fixed;
    background-repeat: no-repeat; }
  .ui-aside > ul {
    margin: 0;
    text-align: right;
    list-style-type: none;
    padding-right: 2rem; }
  .ui-aside li {
    line-height: 1.5; }
.ui-content {
  @include flex_column(center);
  line-height: 1.5;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 2rem;
  font-weight:bold;
}
  .ui-content > * {
    z-index: 1; }

.ui-heading {
  margin: 0;
  font-size: 3rem;
  text-align: right;
  padding: 1rem 2rem; 
  font-size: calc(16px + 32 * ((100vw - 320px) / 1080)) ;
}

.ui-screen {
  pointer-events: none;
  z-index: 0;
  @include abs_top_left_00;
  @include full_size;
  background: white;
  transform: scaleX(0);
  transform-origin: left center; }
  

  .ui-buttons:hover ~ .ui-screen {
    transform: scaleX(1); }


.ui-buttons:hover ~ * {
  color: #111; }

.ui-button, .ui-buttons:hover > .ui-button {
  display: inline-block;
  appearance: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 700;
  padding:calc(6px + 8 * ((100vw - 320px) / 1080)) ;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1080)) ;
  background: transparent;
  color: #31444F;
  border: 1px solid #31444F;
  overflow: hidden;
  cursor:pointer;
  outline: none; }
  .ui-button + .ui-button, .ui-buttons:hover > .ui-button + .ui-button {
    margin-left: 1rem; }
  .ui-button:hover, .ui-buttons:hover > .ui-button:hover, .ui-button:focus, .ui-buttons:hover > .ui-button:focus {
    color:red;
    outline: none; }
    .ui-button:hover:before, .ui-buttons:hover > .ui-button:hover:before, .ui-button:focus:before, .ui-buttons:hover > .ui-button:focus:before {
      transform: translateX(0) skewX(30deg); }
  .ui-button:before, .ui-buttons:hover > .ui-button:before {
    content: '';
    display: block;
    
    @include abs_top_left_00;
    width: calc(100% + 2rem);
    height: 100%;
    transform: scale(1.1) translateX(calc(-100% - 2rem)) skewX(30deg);
    transform-origin: left bottom;
    background: #31444F;
    transition: transform 0.3s cubic-bezier(0.61, 0, 0.2, 1);
    z-index: -1; }

@import 'footer';

@import 'skills';
// @mixin above-mobile {
//   @media (min-width: $breakMobile) {
//       @content;
//   }
// }

@import 'author';
@import 'projects';
@import 'mediaqueries';